:root {
  --titlebar-height: 60px;
  --titlebar-color: #1a1a1a;
  --titlebar-background: #67ea94;
  --titlebar-background-gradient: #21ae74;
  --sidebar-width: 240px;
  --sidebar-color: #bfcad0;
  --sidebar-background: #ccc;
  --content-color: #444;
  --content-background: #fafafa;
  --chatbar-height: 60px;
  --chatbar-color: #1a1a1a;
  --chatbar-background: #fafafa;
}

* {
  margin: 0;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body {
  color: #555555;
  background-color: var(--content-background);
  margin: 10px;
  overflow: hidden;
}
div {
  box-sizing: border-box;
}
input, select, textarea {
  display: inline-block;
  width: 250px;
  margin: 8px 0;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.titlebar, .sidebar, .content {
  position: absolute;
  top: 0px;
  left: 0px;
}
.titlebar {
  width: 100%;
  height: var(--titlebar-height);
  color: var(--titlebar-color);
  background-color: var(--titlebar-background);
  background-image: linear-gradient(
      132deg, 
      var(--titlebar-background) 0%, 
      var(--titlebar-background-gradient) 100%
    );
  padding: 10px 32px;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  border: 1px solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;  
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,  
    rgba(0,0,0,0) 0%, 
    var(--titlebar-background-gradient) 15%,
    var(--titlebar-background-gradient) 100%
  );
  z-index: 199;
}
.sidebar {
  top: var(--titlebar-height);
  width: var(--sidebar-width);
  color: var(--sidebar-color);
  background: var(--sidebar-background);
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 190;
}
.content {
  top: var(--titlebar-height);
  left: var(--sidebar-width);
  right: 0px;
  bottom: var(--chatbar-height);
  min-width: 820px;
  min-height: 450px;
  color: var(--content-color);
  background: var(--content-background);
  overflow-x: hidden;
  overflow-y: scroll;
}
.chatbar {
  position: absolute;
  height: var(--chatbar-height);
  left: var(--sidebar-width);
  right: 0px;
  bottom: 0px;
  color: var(--chatbar-color);
  background: var(--chatbar-background);
  padding-left: 20px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
  display: none;
  z-index: 200;
}
.popup {
  position: absolute;
  top: 160px;
  left: 50%;
  margin-left: -250px;
  width: 400px;
  height: 180px;
  padding-top: 18px;
  border-radius: 4px;
  box-shadow: 0 0 5px 5px rgba(34,34,340, 0.3);
  -moz-box-shadow: 0 0 5px 5px rgba(53, 53, 53, 0.3);
  -webkit-box-shadow: 0 0 5px 5px rgba(53,53,53, 0.3);
  background-color: var(--content-background);
  backdrop-filter: blur(4px);
  text-align: center;
  z-index: 200;
}
.popup > * {
  margin-top: 20px;
}
.popup_button {
  position: absolute;
  width: 160px;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
}
.loader {
  position: absolute;
  top: 160px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  display: none;
}
.nodelist {
  position: absolute;
  top: 70px;
  left: 150px;  
  bottom: var(--chatbar-height);  
  width: 300px;
  padding: 10px 10px 15px 10px;
  border-radius: 2px;
  background-color: #e4e4e4;
  border-style: groove;
  overflow-y: scroll;
  display: none;
  z-index: 200;
}
.titlebar_version {
  position: absolute; 
  bottom: 6px; 
  left: 36px; 
  font-size:10px; 
  color:#888;
}
.titlebar_control {
  position: absolute;
  top: 14px;
  right: 10px;
}
.titlebar_control_img {
  width: 28px;
  margin-right: 12px;
  cursor: pointer;
}
.titlebar_link {
  width: 12px;
  margin-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}
.sidebar_inner {
  padding-top: 34px;
  bottom: 0px;
}
.sidebar_add {
  position: fixed;
  top: var(--titlebar-height);
  left: -8px;
  width: 220px;
  height: 40px;
  margin-left: 10px;
  padding: 10px;
  color: #500606;
  background: var(--sidebar-background);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0px 10px 8px -6px var(--sidebar-background);
}
.sidebar_node {
  height: 70px;
  margin: 10px;
  padding: 10px 10px 15px 10px;
  border-radius: 18px;
  background-color: #eee;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.node_shortname {
  width: 56px;
  height: 28px;
  padding: 5px;
  color: #eee;
  text-shadow: 0px 0px 6px #000;
  text-align: center;
  border-radius: 12px;
}
.node_longname {
  width: 140px;
  margin-top: -23px;
  margin-left: 65px;
  color: var(--chatbar-color);
}
.node_text {
  width: 200px;
  margin-top: 12px;
  margin-left: 8px;
  font-style: italic;
  color: #888;
  font-size: 12px;
  overflow: hidden;
}
.content_message {
  margin: 10px;
  padding: 15px 15px 20px 15px;
  border-radius: 18px;
  background-color: #eee;
}
.msg_text {
  width: 600px;
  height: auto;
  min-height: 30px;
  margin-top: -24px;
  margin-left: 80px;
  padding-bottom: 12px;
  overflow-x: hidden;
}
.msg_time {
  margin-bottom: -14px;
  margin-left: 84px;
  font-size: 9px;
  font-style: italic;
  color: #aaa;
}
.chatbar_input {
  width: 600px;
}
.chatbar_button {
  width: 40px;
  cursor: pointer;
}
.chatbar_count {
  display: inline-block;
  width: 30px;
  height: 20px;
  font-style: italic;
  color: #888;
  font-size: 10px;
  padding: 10px;
  vertical-align: bottom;
}

@media (pointer:none), (pointer:coarse) {
  :root {
    --titlebar-height: 80px;
    --sidebar-width: 160px;
  }
  * {
    font-size: 34px;
  }
  input, select, textarea {
    width: 480px;
  }
  .popup {
    margin-left: -350px;
    padding: 40px;
    width: 720px;
    height: 300px;
  }
  .popup > * {
    margin-top: 28px;
  }
  .popup_button {
    bottom: 24px;
  }
  .titlebar {
    padding: 18px 32px;
    font-size: 38px;
  }
  .titlebar_version {
    bottom: 6px; 
    left: 36px; 
  }
  .titlebar_control {
    top: 18px;
    right: 24px;
  }
  .titlebar_control_img {
    width: 42px;
    margin-right: 20px;
  }
  .titlebar_link {
    width: 16px;
    margin-bottom: 1px;
  }
  .sidebar_add {
    width: 150px;
    height: 55px;
    padding-top: 16px;
    font-size: 28px;
  }
  .sidebar_inner {
    padding-top: 55px;
  }
  .sidebar_node {
    height: 100px;
  }
  .content_inner {
    padding-bottom: 44px;
  }
  .node_shortname {
    width: 120px;
    height: 50px;
  }
  .node_longname {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    margin-left: 4px;
  }
  .node_text {
    display:none;
  }
  .msg_text {
    min-height: 65px;
    margin-top: -48px;
    margin-left: 145px;
  }
  .msg_time {
    margin-left: 0px;
  }
  .chatbar {  
    height: calc(var(--chatbar-height)+8px);
  }
  .chatbar_button {
    width: 70px;
  }
  .chatbar_count {
    width: 40px;
    height: 30px;
    font-size: 16px;
  }
  .nodelist {
    position: absolute;
    top: 90px;
    left: 155px;  
    width: 182px;
  }

  .chatbar {
    margin-bottom: 28px;
  }
  @media only screen and (orientation: landscape) {
    .popup {
      top: 60px;
    }
    .chatbar {
      height: 100px;
      margin-bottom: 0px;
    }
    .content_inner {
      padding-bottom: 240px;
    }
  }
  
}